* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 0.5fr 1fr 6fr 6fr;
}

.search {
  grid-column: 2 / 3;
  grid-row: 1 / 1;
}

.account {
  grid-column: 3 / 4;
  grid-row: 1 / 1;
}

.header {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
}

.main {
  grid-column: 2 / 3;
  grid-row: 3 / 5;
}

/* nav section */

.nav {
  grid-column: 1 / 2;
  grid-row: 1 / 5;
  display: grid;
  grid-template-rows: 1fr 7fr;
  font-size: 0.8rem;
  background-color: #1992d4;
  color: white;
}

.nav h1 {
  grid-column: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  font-size: 1.6rem;
}

.nav h1::before {
  content: url("img/dashboard-icon.png");
  font-size: 0.8rem;
  margin-right: 12px;
}

.nav__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.nav__main li {
  width: 80%;
  list-style: none;
  margin-bottom: 1rem;
}

.nav__main li a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}

.nav__main li a::before {
  content: "";
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  color: white;
  margin-right: 1rem;
}

.nav__main li:nth-child(1) a::before {
  background-image: url("img/home.png");
}

.nav__main li:nth-child(2) a::before {
  background-image: url("img/profile.png");
}

.nav__main li:nth-child(3) a::before {
  background-image: url("img/message-reply.png");
}

.nav__main li:nth-child(4) a::before {
  background-image: url("img/history.png");
}

.nav__main li:nth-child(5) a::before {
  background-image: url("img/tasks.png");
}

.nav__main li:nth-child(6) a::before {
  background-image: url("img/communnities.png");
}

.nav__main li:nth-child(8) a::before {
  background-image: url("img/setting.png");
}

.nav__main li:nth-child(9) a::before {
  background-image: url("img/support.png");
}

.nav__main li:nth-child(10) a::before {
  background-image: url("img/privacy.png");
}

/* search seciton */

.search {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.search label img {
  width: 80%;
  height: 25%;
}

.search-bar {
  width: 90%;
  height: 25%;
  padding: 12px 20px;
  border-radius: 12px;
  background-color: #e2e8f0;
  font-family: "Roboto", sans-serif;
  border: none;
}

/* account section */

.account {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 40px 0 20px;
  font-weight: bold;
  text-align: center;
}

.notification,
.profile {
  border: none;
  background-color: transparent;
  width: 3rem;
  height: 3rem;
}

.notification {
  padding: 8px;
}

.notification img,
.profile img {
  width: 100%;
}

/* main section */

.main {
  display: grid;
  grid-template-rows: 50px 1fr;
  background-color: #e2e8f0;
}

.article-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 1fr;
  align-items: center;
  margin-left: 2rem;
}

.main-text {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  margin: 1.5rem 0 0 2.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.article {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 90%;
  padding: 1rem 4rem 1rem 3rem;
  border-radius: 12px;
  border-left: 8px solid #f0b429;
  background-color: white;
  font-size: 1.2rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.article-text {
  margin-top: 0.8rem;
}

.article .actions {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;
}

.article button {
  border: none;
  background-color: transparent;
}

.article button img {
  width: 1.4rem;
  height: 1.4rem;
  margin-left: 1rem;
}

/* header seection */

.header {
  display: grid;
  grid-template-columns: 110px 400px 1fr;
  padding: 0 5rem 0 2rem;
}

.user-welcome {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-welcome p:nth-child(1) {
  font-size: 0.9rem;
  font-weight: bold;
}

.user-welcome p:nth-child(2) {
  font-size: 1.5rem;
  font-weight: bold;
}

.project-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.project-actions button {
  margin: 0 1rem;
  padding: 0.7rem 2rem;
  border-radius: 1.2rem;
  border: none;
  font-weight: bold;
  background-color: #1992d4;
  color: white;
}

/* announcement section */

.announcements {
  display: flex;
  flex-direction: column;
  background-color: #e2e8f0;
}

.announcement-header {
  margin: 24px 0 2rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.announcement-article {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 1rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.announcement-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.announcement {
  padding: 20px 20px 5px;
  width: 80%;
  height: 33.33%;
  margin-top: 0.5rem;
}

.announcement:nth-child(1) p,
.announcement:nth-child(2) p {
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 30px;
}

/* trending section */

.trending {
  display: flex;
  flex-direction: column;
  background-color: #e2e8f0;
}

.trending-header {
  margin: 10px 0 20px 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.trending-profiles {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  border-radius: 1rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.trending-profile {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.trending-profile-information {
  margin-left: 1rem;
}

.trending-profile-information h3 {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
